@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "../css/variables.css";
@import "../css/common.css";
@import "../css/texts.css";

@import "../css/header.css";
@import "../css/footer.css";

@import "../css/buttons.css";
@import "../css/forms.css";
@import "../css/modals.css";
@import "../css/toast.css";

@import "../css/slider.css";


@import 'tailwindcss';
@import '@splidejs/splide/dist/css/splide.min.css';
@import "flatpickr/dist/flatpickr.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-castoro: 'Castoro', serif;

    --color-primary: var(--primary-color);
    --color-secondary: var(--secondary-color);
    --color-third: var(--third-color);
    --color-text: var(--text-color);
    --color-footer: var(--footer-color);
}
