body {
    @apply antialiased grid min-h-dvh;
    grid-template-rows: auto 1fr auto;
}

.container {
    @apply mx-auto max-w-7xl px-5 sm:px-6 lg:px-12;
}

.html-content {
    @apply space-y-3;
}

.html-content ul {
    list-style: none;
    padding-left: 0;
}

.html-content li {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 0.75rem;
}

.html-content li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25rem;
    width: 1.2em;
    height: 1.2em;
    @apply bg-primary;
    mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'/%3E%3C/svg%3E") no-repeat center / contain;
    -webkit-mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'/%3E%3C/svg%3E") no-repeat center / contain;
}


/* Colores del RichEditor (Tiptap) fuera de Filament */
.html-content span.color {
    color: var(--color);
}
.dark .html-content span.color {
    color: var(--dark-color, var(--color));
}
