.modal, .search-modal {
    @apply fixed inset-0 z-20 w-screen overflow-y-auto;
}

.modal .modal-wrapper {
    @apply flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0;
}

.modal .modal-body {
    @apply bg-white max-w-[550px] w-full z-30 relative transform overflow-hidden rounded-lg px-8 py-6 text-left shadow-xl transition-all sm:my-8 sm:px-6 sm:py-10;
}

.modal .modal-body .modal-title {
    @apply text-2xl font-bold leading-9 tracking-tight text-primary;
}

.modal .modal-body p {
    @apply text-sm;
}

.modal .modal-body .modal-options {
    @apply mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3;
}

.modal .modal-close {
    @apply absolute top-3 right-3;
}

.modal-overlay {
    @apply fixed z-20 inset-0 bg-black/50 transition-opacity;
}

.modal.modal-book .modal-body {
    @apply max-w-[1000px] w-full;
}
