h1, h2, h3, h4, h5 {
    @apply font-bold font-castoro;
}

h6 {
    @apply font-semibold;
}

h1 {
    @apply md:text-6xl text-4xl;
}

h2 {
    @apply md:text-5xl text-3xl;
}

h3 {
    @apply md:text-4xl text-3xl;
}

h4 {
    @apply md:text-3xl text-2xl;
}

h5 {
    @apply md:text-xl text-lg;
}

h6 {
    @apply text-lg;
}

.validation-error {
    @apply text-red-400 text-xs;
}
